In [1]:
### fake, pandas 불러오기
from faker import Faker
import pandas as pd

fake = Faker('ko-KR')
#원하는 데이터 개수
n = 100
#2차배열 초기화
test_list = [[0] * 4 for _ in range(n)]

### 데이터프레임 생성
df = pd.DataFrame(test_list, columns=['name','age','email','phone'], index=[i for i in range(n)])

df.head(10)

   name  age  email  phone
0     0    0      0      0
1     0    0      0      0
2     0    0      0      0
3     0    0      0      0
4     0    0      0      0
5     0    0      0      0
6     0    0      0      0
7     0    0      0      0
8     0    0      0      0
9     0    0      0      0

In [2]:
class changedf():
    
    def rename(row):
        newname = fake.name()
        return newname
    
    def reage(row):
        newage = fake.pyint(min_value=19, max_value=100)
        return newage
    
    def readress(row):
        newadress = fake.address()
        return newadress
    
    def reemail(row):
        newemail = fake.email()
        return newemail
    
    def rephone(row):
        newphone = fake.phone_number()
        return newphone
    
    def rejob(row):
        rejob = fake.job()
        return rejob
    

df['name']= df.apply(changedf.rename, axis=1)    
df['age']= df.apply(changedf.reage, axis=1)    
df['address'] = df.apply(changedf.readress, axis=1)    
df['email']= df.apply(changedf.reemail, axis=1)    
df['phone']= df.apply(changedf.rephone, axis=1)    
df['job'] = df.apply(changedf.rejob, axis=1)
df

,name,age,email,phone,address,job
0,이명자,27,gangyeongja@hotmail.com,019-076-6783,대구광역시 영등포구 영동대길 (병철김면),기타 문리/기술 및 예능 강사
1,최지훈,100,ijuweon@ju.net,070-5225-5338,전라북도 증평군 강남대783길 (영자김윤면),과수작물 재배원
2,윤성수,51,ryucaeweon@ju.net,011-439-7005,대전광역시 강북구 논현거리 (정남홍마을),환경공학 시험원
3,서경희,60,gi@naver.com,011-010-8599,부산광역시 중랑구 논현가,검표원
4,박정호,43,jinyeeun@dreamwiz.com,02-7018-9675,인천광역시 북구 압구정로 (성호최박면),기술 영업원
...,...,...,...,...,...,...
95,성정훈,47,hyeonu62@yu.com,016-611-5715,충청북도 제천시 가락754로 (순옥고면),통역가
96,안유진,66,coeseongmin@jusighoesa.kr,02-8803-7205,제주특별자치도 평창군 삼성3거리 (민석최최리),생명과학 연구원
97,김아름,58,sunogi@iyungim.kr,064-788-3403,서울특별시 영등포구 잠실가,조명기사 및 영사기사
98,한현준,44,tbag@ju.org,031-549-3406,전라북도 안성시 석촌호수157가 (정숙한동),플라스틱제품 생산기 조작원
99,황은영,55,ii@coeibag.com,052-216-2388,서울특별시 구로구 학동8길,통신 및 관련 장비 설치 및 수리원

In [3]:
### series문 오류 해결하기
country = pd.Series([ fake.country() for i in range(n) ], index = [n for n in range(n)])
df['country'] =country
df

,name,age,email,phone,address,job,country
0,이명자,27,gangyeongja@hotmail.com,019-076-6783,대구광역시 영등포구 영동대길 (병철김면),기타 문리/기술 및 예능 강사,모리셔스
1,최지훈,100,ijuweon@ju.net,070-5225-5338,전라북도 증평군 강남대783길 (영자김윤면),과수작물 재배원,에리트레아
2,윤성수,51,ryucaeweon@ju.net,011-439-7005,대전광역시 강북구 논현거리 (정남홍마을),환경공학 시험원,일본
3,서경희,60,gi@naver.com,011-010-8599,부산광역시 중랑구 논현가,검표원,가나
4,박정호,43,jinyeeun@dreamwiz.com,02-7018-9675,인천광역시 북구 압구정로 (성호최박면),기술 영업원,중화인민공화국
...,...,...,...,...,...,...,...
95,성정훈,47,hyeonu62@yu.com,016-611-5715,충청북도 제천시 가락754로 (순옥고면),통역가,가이아나
96,안유진,66,coeseongmin@jusighoesa.kr,02-8803-7205,제주특별자치도 평창군 삼성3거리 (민석최최리),생명과학 연구원,쿠웨이트
97,김아름,58,sunogi@iyungim.kr,064-788-3403,서울특별시 영등포구 잠실가,조명기사 및 영사기사,쿠바
98,한현준,44,tbag@ju.org,031-549-3406,전라북도 안성시 석촌호수157가 (정숙한동),플라스틱제품 생산기 조작원,피지
99,황은영,55,ii@coeibag.com,052-216-2388,서울특별시 구로구 학동8길,통신 및 관련 장비 설치 및 수리원,키프로스

In [4]:
df.to_csv('test.csv', index=False)